@charset "UTF-8";

/* global settings */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  line-height: 2;
  padding: 0;
  margin: 0;
  }

h1, h2, h3, h4, span {
  font-family: 'Hammersmith One', sans-serif;
}



@media (min-width: 500px) {  /* large screen */
  
  body {
    background-color: #F8FBFD;
  }

  /* general correction of the margin of this section */
  .navbar__container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 50px;
  }

  /* global nav bar settings */
  .navbar {
    line-height: 1.5;
    background-color: #F7FBFC;
  }

  /* side sections of the nav bar */
  .navbar__left-side{
    display: flex;
    justify-content: center;
    color: #0B758B;
  }
  
  /* middle section of the nav bar */
  .navbar__menu {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
  }

  .navbar__link {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1rem;    
    transition: .4s;
  }

  .navbar__link:hover {
    color: #0B758B;  
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
  
  /* side sections of the nav bar */
  .navbar__right-side {
    display: flex;
    align-items: center;
    gap: 10px;
  }





   /* first section */   
  .first {
    min-height: calc(80vh - 97px);
    background: linear-gradient(111.71deg, #1BBBDC 0.82%, #09353F 97.06%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 95%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 95%);
  }

  /* general correction of the margin of this section */
  .first__container {
    padding: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .first__left {
    width: 30%;
  }

  .first__bean {
    margin-bottom: 20px;
  }

  .first__bean span {
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
  }

  .first__title h1 {
    line-height: 1.5;
    font-size: 3rem;
  }

  .first__right {
    width: 60%;
  }

  .first__right img {
    width: 100%;
  }




  /* second section */
  .second {
    height: auto;
    margin-top: -200px;
    background: #F8FBFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* general correction of the margin of this section */
  .second__container {
    padding: 51px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto; 
  }

  .second__header {
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin-top: 220px;
    margin-bottom: 95px;
  }

  .second__title {
    color: #474747;
  }

  .second__subtitle {
    margin-top: 5px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
  }

  .second__dynamic-area {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    height: auto;
    padding: 0;
    margin-bottom: 1rem;
  }

  .second__slider{
    display:  flex;
    align-items: center;
    padding: 20px;
  }

  .second__slider-frame {
    display: grid;
    grid-template-columns: 3% 90% 3%;
    margin: 0;
  }

  .second__arrows {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .second__arrows img {
    width: 100%;
    transition: 0.3s ease-in-out;
  }

  .second__arrows img:hover {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
  }

  .second__images {
    margin: auto;
    padding: 0;
  }

  .second__images ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .second__images li {
    width: 280px;
    object-fit: cover;
    margin: 0;
  }

  .second__images img {
    cursor: pointer;
    width: 100%;
    margin: auto;
    object-fit: contain;
  }

  .second__up-image {
    box-shadow: -25px 15px 35px 0.1px rgba(24, 24, 29, 0.863);
    translate: -40px 0;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
  }

  .second__up-image:hover {
    transform: scale(1.15);
    transition: 0.4s ease-in-out;
  }

  .second__back-image{
    box-shadow: -15px 15px 35px 0.1px rgba(81, 80, 92, 0.788);
    transform: scale(0.94);
    translate: 25px 0;
    transition: 0.5s ease-in-out;
  }

  .second__back-image:hover {
    transform: scale(0.98);
    transition: 0.4s ease-in-out;
  }

  .second__side{
    margin-top: 140px;
    display: block;
  }

  .second__side-title {
    color: #0B758B;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
  }

  .second__side-description {}

  .second__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px; 
    margin-right: 75px; 
    background-color: #000;
    color: #fff;
    height: 45px;
    border-radius: 6px;  
    transition: all 0.4s ease-in-out;
  }

  .second__button:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: all 0.3s ease-in-out;
  }

  /* third section */
  .third {
    height: auto;
    padding-top: 135px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* general correction of the margin of this section */
  .third__container {
    padding: 51px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto; 
  }

  .third__about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

  .third__about-description {}

  .third__about-title {
    color: #474747;
  }

  .third__about-title h1 {
    font-size: 2.375rem;
  }

  .third__about-text {
    margin-top: 15px;
    font-size: 1rem;
  }
  
  .third__logo {
    display:  flex;
    align-items: center;
  }

  .third__logo img {
    margin-left: 30px;
    width: 600px;
    object-fit: cover;
  }

  .third__h-line {
    justify-content: center;
    margin: 75px 0

  }

  .third__h-line hr {
    border: none;
    height: 2px;
    background: radial-gradient(circle, rgb(49, 51, 71) 0%, rgba(104, 104, 138, 0) 100%); 
  }


  .rodape {
    background-color: F8FBFD;
    margin: 0;
    padding-top: 25px;
  }

  .rodape__container {
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto; 
  }

  .rodape__body{
    display: grid;
    grid-template-columns: 49% 2% 49%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 40px;
  }

  .rodape__content {

  }

  .rodape__menu {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    gap: 15px;
  }

  .rodape__icons {
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    
  }
  .rodape__link {
    text-decoration: none;
    color: black;
    font-size: 1rem;    
    transition: .4s;
  }

  .rodape__link:hover {
    color: #0B758B;  
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }

  .rodape__link img{  
    transition: 0.4s;
    transition: all 0.2s ease-in-out;
  }

  .rodape__link img:hover{    
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }


  .rodape__copy-right {
    margin: -10px 0;
    padding: 0;
    display: flex;
  }

  .rodape__v-line {
    height: 70%;
    width: 1px;
    margin-right: 125px;
    background-color: rgb(177, 177, 177);
  }

  .rodape__logos {
    display: block;

  }

  .rodape__top-logos {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 55% 25% 25%;

  }

  .rodape__top-logos img {
    padding: 8px;
    width: 100%;
    transition: all 0.4s ease-in-out;
  }

  .rodape__top-logos img:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
  }

  .rodape__bottom-logos {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25% 60% 20%;

  }

  .rodape__bottom-logos img {
    padding: 8px;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .rodape__bottom-logos img:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
  }


}

@media (min-width: 601) and (min-width: 600){  /* tablets */
  
}

@media (min-width: 600) {  /* mobile phones */
  
}